@model IEnumerable<AppUser>
@{
    Layout = "_Layout";
}
<a class="btn btn-primary" asp-action="Create" asp-controller="Account">Kayıt Ol</a>
<div class="container">
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Fullname</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.FullName</td>
                    <td>
                        <a class="btn btn-sm btn-outline-primary" asp-action="Edit" asp-route-userName="@user.UserName">Edit</a>
                        <form asp-action="Delete" method="post" onsubmit="return confirm('Emin misin !')" class="d-inline-block">
                            <input type="hidden" name="userName" value="@user.UserName"/>
                            <button class="btn btn-sm btn-outline-danger" type="submit" >Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>